body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    padding: 40px 60px;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.filter-bar {
    display: flex;
    background-color: #d1d1d1; 
    border-radius: 2px;
    overflow: hidden;
}


.filter-item {
    border-right: 1px solid #bbb;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.filter-item:last-child { border-right: none; }

.filter-item select {
    background: transparent;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    appearance: none;
    color: #333;
    width: 100%;
}

.filter-item:hover {
    background-color: #c5c5c5;
}


.search-bar {
    background-color: #e6e0ed; 
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 6px;
    width: 320px;
}

.search-bar input {
    border: none;
    background: transparent;
    flex-grow: 1;
    outline: none;
    font-size: 14px;
    color: #333;
}

.search-bar input::placeholder {
    color: #8e8794;
}

.search-icon { font-size: 16px; cursor: pointer; }

/* GRIGLIA FILM */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 80px;
}

.movie-card img {
    width: 100%;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.movie-card img:hover { 
    transform: scale(1.02); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* FOOTER */
.site-footer {
    border-top: 1px solid #eee;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left { display: flex; flex-direction: column; gap: 15px; }

.footer-logo { 
    font-weight: bold; 
    font-size: 28px; 
    color: #000;
}

.social-links { 
    font-size: 20px; 
    color: #555; 
    display: flex; 
    gap: 15px; 
}

.footer-columns { display: flex; gap: 80px; }

.col { display: flex; flex-direction: column; gap: 8px; }

.col strong { 
    font-size: 13px; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
    color: #000;
}

.col span { 
    font-size: 12px; 
    color: #777; 
    cursor: pointer; 
}

.col span:hover { color: #000; }

.movie-detail {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    animation: fadeIn 0.3s;
}

.detail-poster {
    width: 350px;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.detail-info {
    flex: 1;
    background: #e0e0e0;
    padding: 30px;
    border-radius: 4px;
}

.detail-info h2 { margin-top: 0; text-transform: uppercase; }

.back-btn {
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    background: #d1d1d1;
    padding: 5px 15px;
}